@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.navbar-nav {
  gap: 10px;
  font-weight: 600;
}
.hero_section img {
  object-fit: cover;
}
.hero_section {
  background-color: #7550fe;
}
/* p {
  color: #bca7ff;
  font-weight: bold;
} */
.bottone {
  font-weight: bold;
}
.color_button {
  color: rgb(194, 129, 53);
  background-color: rgb(255, 238, 218);
  border-radius: 50px;
  font-size: large;
  height: 50px;
  width: 50px;
}
.avatar {
  width: 30px;
  border-radius: 20px;
}
.cards-wrapper {
  display: flex;
  justify-content: center;
}
